language: python
python: 3.5
sudo: required
dist: trusty
services: docker
env:
  global:
  - PLAT=x86_64
  - UNICODE_WIDTH=32
  - NP_BUILD_DEP="numpy==1.7.1"
  - NP_TEST_DEP="numpy==1.7.1"
  - secure: hd1Pl8/9iiweqYM0WjDzeQOM5JcqYUfhEmmD3PkDF4ff45xEJhAbalRZByzSPuqXoXIGZx7aJdlc/SSIyIptkOzY0k0r/VuB8MY8auCR8qifvE5YdRtgYDc3ni6mT4GXWWADWbd/5lrgSq+HSEFew89lct+Kk609vDpcFxxZpLc=
  - secure: laA/davmLILdmA6OthPaSQKMJslm9wkVmAmb8sxc/jmS3RiExFO5/yq7j30TCHRf2r43Sv1/Bswzgrcd4xY5AGbLSWZBQ3NB0kQYHBtbUsV5mtVy9kNIUcpUnWoDYDXN4Tx1AEg5sDiv+b06BW2IYDDvpt+87eH9kt1nOt3OnVs=

#branches:
#  only:
#  - master
#  - devel
#  - /^[0-9]+\.[0-9]+\.[0-9]+[.0-9ab]*$/

matrix:
  exclude:
    - python: 3.5
  include:
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - UNICODE_WIDTH=16
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - PLAT=i686
        - UNICODE_WIDTH=16
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.4
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.4
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
        - TOXENV=py35
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.6
        - TOXENV=py36
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.6
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.7
        - TOXENV=py37
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.7
        - PLAT=i686
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=2.7
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=3.4
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=3.5
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=3.6
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=3.7

before_install:
  - pip install -r requirements_ci.txt
  - export SWIGLPK_VERSION=$(python scripts/find_swiglpk_version.py)
  - echo $SWIGLPK_VERSION
  - export NEW_GLPK_VERSION=$(python scripts/find_newest_glpk_release.py)
  - echo $NEW_GLPK_VERSION
  - echo "Test http://ftp.gnu.org/gnu/glpk/glpk-$NEW_GLPK_VERSION.tar.gz"
  - "(git clone https://github.com/matthew-brett/multibuild.git && cd multibuild)"
  - TEST_DEPENDS="nose"
  - source multibuild/common_utils.sh
  - source multibuild/travis_steps.sh
  - before_install

install:
  - build_wheel . $PLAT

before_cache:
  - set +e

script:
  - install_run $PLAT
  - ls ${TRAVIS_BUILD_DIR}/wheelhouse/

deploy:
  - provider: script
    skip_cleanup: true
    script: scripts/deploy.sh
    on:
      branch: master
      tags: true
  - provider: script
    skip_cleanup: true
    script: scripts/release.sh
    on:
      condition: type == 'cron'

